.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.row {
  height: 50px;
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.column {
  border-style: solid;
  border-width: 2px;
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: -2px;

  &.borderless {
    border-style: none;
    margin:2px;
    margin-left: 0;
  }

  &.clickable {
    cursor: pointer;
  }

  &.incoming {
    background-color: #33cc33;
  }

  &.inIncomingCol {
    background-color: #d6f5d6 !important;
  }

  &.inOutgoingRow {
    background-color: #ffc2b3;
  }

  &.outgoing {
    background-color: #ff6666;
  }

  &.circle {
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;

    width: 70px;
    height: 30px;
    margin-left: 15px;
  }

  input {
    max-width: 30px;
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-top: 20px;

  button {
    margin-bottom: 10px;
  }
}

.resetButtonContainer{
  display: flex;
  align-items: center;

  h1 {
    margin-right: 30px;
  }
}
