<div class="root">
  <h1>{{isEditing ? 'Skapa tablå' : 'Pivotera'}}</h1>

  <div class="content">
    <ng-container
      *ngTemplateOutlet="top"
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="numberRows"
    ></ng-container>

    <ng-container *ngIf="isEditing">
      <ng-container
        *ngTemplateOutlet="bottom">
      </ng-container>
    </ng-container>

  </div>


  <div class="buttons">
    <ng-container *ngIf="isEditing">
      <button (click)="addVariable()">
        Lägg till variabel
      </button>

      <button (click)="addConstraint()">
        Lägg till villkor
      </button>

      <button (click)="toggleEditing()">
        {{isEditing ? 'Börja pivotera' : 'Börja om'}}
      </button>
    </ng-container>

    <ng-container *ngIf="!isEditing">
      <button
        [disabled]="incomingIndex == -1 || outgoingIndex == -1"
        (click)="pivot()"
      >
        Pivotera
      </button>
    </ng-container>

  </div>
</div>

<ng-template #top>
  <div class="row">
    <div class="column"></div>

    <div class="column">
      -z
    </div>

    <div
      *ngFor="let variableName of variableNames; let col=index;"
      class="column"
      [class.clickable]="!isEditing"
      [class.incoming]="col + 1 === incomingIndex"
      (click)="chooseIncomingIndex(col + 1)"
    >
      {{variableName}}
    </div>

    <div class="column">b</div>
  </div>
</ng-template>


<ng-template>
  rows
</ng-template>

<ng-template #numberRows>
  <ng-container *ngFor="let _ of x; let row=index; let first=first">

    <div class="row">
      <ng-container
        *ngTemplateOutlet="numberRow; context:{row:row, first:first}">
      </ng-container>
    </div>

  </ng-container>
</ng-template>

<ng-template #numberRow let-row="row" let-firstRow="first">
  <ng-container *ngIf="firstRow">
    <div class="column">
      -z
    </div>
  </ng-container>

  <ng-container *ngIf="!firstRow">
    <div
      class="column"
      [class.clickable]="!isEditing"
      [class.outgoing]="row === outgoingIndex"
      (click)="chooseOutgoingIndex(row)"
    >
      asd
    </div>
  </ng-container>

  <div
    *ngFor="let el of x[row]; let col=index; let firstCol=first;"
    class="column"
    [class.inIncomingCol]="col===incomingIndex"
    [class.inOutgoingRow]="row===outgoingIndex"
  >
    <ng-container *ngIf="firstRow && firstCol || !isEditing">
      {{el | pivotnumber}}
    </ng-container>

    <ng-container *ngIf="isEditing && !(firstRow && firstCol)">
      <input
        class="input"
        value={{el.numerator}}
        (change)="updateXvalue(row, col, $event.target.value)"
      >
    </ng-container>
  </div>

  <div class="column" [class.inOutgoingRow]="row === outgoingIndex">
    <ng-container *ngIf="isEditing">

      <input
        class="input"
        value={{b[row].numerator}}
        (change)="updateBvalue(row, $event.target.value)"
      >
    </ng-container>

    <ng-container *ngIf="!isEditing">
      {{b[row] | pivotnumber}}
    </ng-container>
  </div>

  <div class="column borderless">
    <button
      (click)="removeConstraint(row)"
      *ngIf="!firstRow && isEditing">
      Ta bort villkor
    </button>
  </div>

</ng-template>

<ng-template #bottom>
  <div class="row">
    <div class="column borderless"></div>
    <div class="column borderless"></div>

    <ng-container *ngIf="variables">
      <ng-container *ngFor="let col of x[0]; let index=index; let first=first;">
        <div class="column borderless" *ngIf="!first">
          <button (click)="removeVariable(index)">
            Ta bort variabel
          </button>
        </div>
      </ng-container>
    </ng-container>

    <div class="column borderless"></div>

  </div>
</ng-template>
