<div class="root">
  <h1>Skapa tablå</h1>

  <div class="content">
    <ng-container
      *ngTemplateOutlet="top"
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="numberRows"
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="bottom">
    </ng-container>
  </div>

  <div class="addButtons">
    <button (click)="addVariable()">
      Lägg till variabel
    </button>

    <button (click)="addConstraint()">
      Lägg till villkor
    </button>
  </div>
</div>

<ng-template #top>
  <div class="row">
    <div class="column"></div>

    <div class="column">
      -z
    </div>

    <div class="column" *ngFor="let variableName of variableNames">
      {{variableName}}
    </div>

    <div class="column">b</div>
  </div>
</ng-template>


<ng-template>
  rows
</ng-template>

<ng-template #numberRows>
  <ng-container *ngFor="let _ of x; let row=index; let first=first">

    <div class="row">
      <ng-container
        *ngTemplateOutlet="numberRow; context:{row:row, first:first}">
      </ng-container>
    </div>

  </ng-container>
</ng-template>

<ng-template #numberRow let-row="row" let-first="first">
  <div class="column">
    {{first ? '-z' : ''}}
  </div>
  <div class="column">0</div> <!-- z-value in constraint is zero-->

  <div class="column" *ngFor="let el of x[row]; let index=index;">
    {{el.numerator}}
  </div>

  <div class="column">{{b[row].numerator}}</div>

  <div class="column borderless">
    <button (click)="removeConstraint(row)" *ngIf="!first">
      Ta bort villkor
    </button>
  </div>

</ng-template>

<ng-template #bottom>
  <div class="row">
    <div class="column borderless"></div>
    <div class="column borderless"></div>

    <ng-container *ngIf="variables">
      <div class="column borderless" *ngFor="let col of x[0]; let index = index">
        <button (click)="removeVariable(index)">
          Ta bort variabel
        </button>
      </div>
    </ng-container>

    <div class="column borderless"></div>

  </div>
</ng-template>
